.searchBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.movie-card {
    flex: 1 1 calc(25% - 20px);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    padding: 0 5px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    width: 100px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    display: inline-block;
}

.movie-title {
    min-height: 100px;
    max-width: 100px;
}